(
    selected_tab: Gray,
    command_fg: Gray,
    selection_bg: DarkGray,
    cmdbar_extra_lines_bg: DarkGray,
    disabled_fg: LightGreen,
    diff_line_add: Green,
    diff_line_delete: LightRed,
    diff_file_added: Green,
    diff_file_removed: Red,
    diff_file_moved: Magenta,
    diff_file_modified: Yellow,
    commit_hash: Green,
    commit_time: Magenta,
    commit_author: Blue,
    danger_fg: Red,
    push_gauge_bg: Blue,
    push_gauge_fg: Reset,
)
