(
    selected_tab: Reset,
    command_fg: Black,
    selection_bg: DarkGray,
    cmdbar_extra_lines_bg: DarkGray,
    disabled_fg: DarkGray,
    diff_line_add: LightGreen,
    diff_line_delete: LightRed,
    diff_file_added: LightGreen,
    diff_file_removed: LightRed,
    diff_file_moved: Magenta,
    diff_file_modified: Yellow,
    commit_hash: LightMagenta,
    commit_time: Blue,
    commit_author: Yellow,
    danger_fg: Red,
    push_gauge_bg: Blue,
    push_gauge_fg: Reset,
)
